html{
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
}

.App {
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  min-width: 350px;
  padding-top:20px;
}
.product-details{
  display: flex;
}

.product-details{
  font-size: 18px;
  font-weight: 600;
}

.product-details .prd-name{
  flex: 1;
  text-align: left;
}
.product-details .prd-price{
  flex: 1;
  text-align: right;
  color: #666;
}
.App .panel {
  margin-bottom: 5px;
}